{% extends "layout.html" %}
{% block body %}

    <div id="main" class="container">
        <h2>Document Viewer: {{ doc.doc_title }}</h2>


<!-- Insert an IFrame which can run the URL https://<bucket-name>.s3.amazonaws.com/doc.doc_title here -->

<!--    <iframe source="https://{{ doc.doc_bucket }}.s3.amazonaws.com/{{ doc.doc_title }}" width="200" height="600" frameborder="1" marginwidth="10" noresize="noresize" scrolling="yes">
     Sorry, your browser does not support frames!
     </iframe> -->
        <object data="https://{{ doc.doc_bucket }}.s3.amazonaws.com/{{ doc.doc_title }}" type="application/pdf" width="80%" height="95%" border="10">
<!-- alternate form of the link: http://s3.amazonaws.com/bucket_name/key -->
            <p>Direct link to the pdf <a href="https://{{ doc.doc_bucket }}.s3.amazonaws.com/{{ doc.doc_title }}">here</a>!</p>
        </object>
        <br />
     <div class="control-group">
        <div class="controls">
          <button type="button" class="btn btn-success">Download</button>
            <a href="{{ url_for('pdf_directory') }}">
            <button type="button" class="btn btn-default">Back to PDF Directory</button>
            </a>
            <a href="{{ url_for('directory') }}">
            <button type="button" class="btn btn-default">Back to Main Directory</button>
                </a>
        </div>
    </div>
</div>
{% endblock %}
