{% extends "layout.html" %}
{% block body %}

    <div id="main" class="container">
        <h2>Document Viewer: {{ doc.doc_title }}</h2>


<!-- Insert an IFrame which can run the URL https://<bucket-name>.s3.amazonaws.com/doc.doc_title here -->

     <iframe source="https://{{ doc.doc_bucket }}.s3.amazonaws.com/{{ doc.doc_title }}" width="200" height="600" frameborder="1" marginwidth="10" noresize="noresize" scrolling="yes">
     Sorry, your browser does not support frames!
     </iframe>
     <div class="control-group">
        <div class="controls">
          <button type="button" class="btn btn-success">Download</button>
            <button type="button" class="btn btn-default" a href="{{ url_for('directory') }}">Back to Directory</button>
        </div>
    </div>
</div>
{% endblock %}
