{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
      <h2>Retrieve your password: </h2>
      <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email ID" required>
        </div>
    </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Send Recovery Email</button>
        </div>
    </div>
  </form>
    <a href="{{ url_for('login') }}">Return to Login </a>
{% endblock %}