{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign in to ARISE Impact Web Application </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
          <p>Remember me: <input type="checkbox" id="remember_me" name="remember_me"></p>
          <button type="submit" class="btn btn-success">Sign In</button>
        </div>
    </div>
  </form>
    <a href="{{ url_for('forgot_password') }}">Forgot password? </a>
{% endblock %}