{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
        {% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

    <form action="" method=post class="form-horizontal">
        <h2>Convert Text To Speech</h2>
    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=10 class="input-xlarge" placeholder="Enter text to be converted here" required>{{ request.form.text }}</textarea>
        </div>
    </div>
     <br />
    <div class="control-group">
        <div class="controls">
            <p> Select language:
          <select name="lang" id="lang">
              <option value="en" selected>American Accent</option>
              <option value="hi">Indian Accent</option>
          </select></p>
        </div>
    </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">CONVERT!</button>
          <a href   ="{{ url_for('index') }}"><button type="button" class="btn btn-info">HOME</button></a>

        </div>
    </div>
  </form>
</div>
{% endblock %}